
<p>menu recommend</p>
<link rel="stylesheet" href="/css/select2.css">
<script src="/js/select2.js"></script>
<script type="text/javascript">
 $("#document").ready(function () {
   $("#ingredients").select2({
     /*ajax: {
       type: 'POST',
       url: '/ingredients',
       dataType: 'json',
       delay: 250,
       cache: true,
       data: function(params) {
         return{
           q: params.term
         };
       },
       processResults: function (data) {
         return {
           results: data.results
         };
       }
     },*/
     placeholder:'추가되는 재료들 (ex. 감자, 양파, 마늘)'
    });
    $.ajax({//재료 리스트 받아오는 ajax 함수 
       type:'POST',
       url: '/ingredients',
       dataType: 'json',
       success: function(result){
         //console.log(result);
         result['results'].forEach(element => {
          $("#ingredients").append("<option>"+element['text']+"</option>");
         });
        
       },
       error: function(e) {
         console.error('error '+e.status);
          
        }
     });
  });

/*
  function add_ingredients(){//재료 리스트 입력
    var ingredient = $("#ingredients").val();
    if(ingredient == ""){
      alert('재료가 입력되지 않았습니다');
    }
    else{
      var ol_list = $("#ol_list");
      ol_list.append("<li>"+ingredient+"<a href=\"#\" id=\"btnDelete\" class=\"btn btn_del\" onclick=\"remove_item(this)\">삭제</a> </li>");//재료 추가
      console.log("added item " + ingredient );
    }
  };

  function remove_item(id){ //재료 객체 삭제 

    console.log("delete "+$(id).parent().text());
    
    $(id).parent().remove(); 
    return false; 
  
  };
*/
  function search_menu(only){ //메뉴 추천 요청 ajax 함수 
    var words = $("#search_menu_form").serializeArray();
    console.log(words);
    var send;
    var ingredient = $("#ingredients").val();
    //console.log(ingredient);
    if(!ingredient.length){
      alert('재료가 입력되지 않았습니다');
      return false;
    }
 
    if(only){
      send = '/search_only'
    }
    else{
      send = '/search'
    }
     $.ajax({
       type:'POST',
       url: send,
       data: words,
       dataType: 'json',
       success: function(result){
         var table;
         console.log(result);
         $("#resultTableBody").empty();
         var i = 1;
         result.forEach(Element => {//table 변수에 결과 입력
           table += '<tr onClick="menu_modal_show(\`'+Element['name']+'\`,\`'+Element['youtube']+'\`,\`'+Element['recipe']+'\`)">';
           table += '<td>'+i+'</td>';
           table += '<td>'+Element['name'];+'</td>';
           //console.log(Element['ingredients']);
           var data = JSON.parse(Element['ingredients']);
           [].forEach.call(data, function(element) {
             var name = element['ingredient'];
             if(ingredient.find(element => element===name)){
              table += '<td>'+'<font color="red">'+name+'</font>'+'</td>';
             }
             else{
              table += '<td>'+name+'</td>';
             }
           });
           //table += '<td>'+Element['recipe'];+'</td>';
           table += '</tr>';
           i++;
         });
         $("#resultTableBody").append(table);
       },
       error: function(e) {
         console.error('error '+e.status);
 
         $("#resultTableBody").empty();
         alert("메뉴 목록 가져오기 실패");
        }
     });
  };
function all_menu(){
  $.ajax({
       type:'POST',
       url: '/all',
       data: '',
       dataType: 'json',
       success: function(result){
         var table;
         console.log(result);
         $("#resultTableBody").empty();
         var i = 1;
         result.forEach(Element => {//table 변수에 결과 입력
           table += '<tr onClick="menu_modal_show(\`'+Element['name']+'\`,\`'+Element['youtube']+'\`,\`'+Element['recipe']+'\`)">';
           table += '<td>'+i+'</td>';
           table += '<td>'+Element['name'];+'</td>';
           //console.log(Element['ingredients']);
           var data = JSON.parse(Element['ingredients']);
           [].forEach.call(data, function(element) {
            table += '<td>'+element['ingredient'];+'</td>';
           });
           //table += '<td>'+Element['recipe'];+'</td>';
           table += '</tr>';
           i++;
         });
         $("#resultTableBody").append(table);
       },
       error: function(e) {
         console.error('error '+e.status);
 
         $("#resultTableBody").empty();
         alert("메뉴 목록 가져오기 실패");
        }
     });
};
function menu_modal_show(name,you,re){//모달 내용 입력 후 show
  console.log(name);
  console.log(you);
  console.log(name);

  if(name == undefined){
    $("#menu_title").empty();
  }
  if(re == undefined){
    $("#menu_recipe").empty();
  }
  $("#menu_title").html(name);
  $("#menu_youtube").empty();
  $("#menu_youtube").attr('src','https://www.youtube.com/embed/'+you);
  $("#menu_recipe").html(re);

  $("#menu_modal").modal('show');
}
</script>
  <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#menu_modal">모달 테스트</button> -->

<form id="search_menu_form" onsubmit="return false">
  <div class="form-group col-md-6" style="height:100%">
    <label for="ingredients">재료</label>
    <select class="form-control" id="ingredients" multiple="multiple" form="search_menu_form" name="ingredients" style="height:100%"></select> 
    <!-- <input type="text" class="form-control" id="ingredients" placeholder="추가되는 재료들 (ex. 감자, 양파, 마늘)"> -->
    <!-- <button type="button" class="btn btn-primary" onclick="add_ingredients()">추가</button> -->
    <ol id="ol_list"> </ol>
  </div>

<div class="form-group col-md-8">
  <label for="tools">조리도구</label>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="tools" value="128">
  <label class="form-check-label" for="inlineCheckbox1">프라이팬</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="tools" value="64">
  <label class="form-check-label" for="inlineCheckbox2">냄비</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="tools" value="32">
  <label class="form-check-label" for="inlineCheckbox3">전자레인지</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="tools" value="16">
  <label class="form-check-label" for="inlineCheckbox4">오븐</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox5" name="tools" value="8">
  <label class="form-check-label" for="inlineCheckbox5">에어프라이어</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox6" name="tools" value="4">
  <label class="form-check-label" for="inlineCheckbox6">찜기</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" name="tools" value="2">
  <label class="form-check-label" for="inlineCheckbox7">믹서기</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox8" name="tools" value="1">
  <label class="form-check-label" for="inlineCheckbox8">뚝배기</label>
</div>
</div>

<div class="form-group col-md-6">
  <label for="tools">난이도</label>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio1" value="3">
  <label class="form-check-label" for="inlineRadio1">상</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio2" value="2">
  <label class="form-check-label" for="inlineRadio2">중</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio3" value="1" checked="checked">
  <label class="form-check-label" for="inlineRadio3">하</label>
</div>
</div>
<div class="form-group col-md-6">
 <button type="button" class="btn btn-primary" onclick="all_menu()">전체</button>
 <button type="button" class="btn btn-primary" onclick="search_menu(false)">다른것도</button>
 <button type="button" class="btn btn-primary" onclick="search_menu(true)">이것만</button>

</div>
</form>
<div id="result">
  <table class="table table-striped" id="resultTable">
  <thead>
    <tr>
      <th>#</th>
      <th>메뉴</th>
      <th>재료</th>
    </tr>
  </thead>
  <tbody id="resultTableBody">
    
  </tbody>
  </table>
</div>
<div id="menu_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="menu_title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <iframe id="menu_youtube" src="https://www.youtube.com/embed/" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p id="menu_recipe"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>