
<p>menu recommend</p>
<link rel="stylesheet" href="/css/select2.css">
<script src="/js/select2.js"></script>
<script type="text/javascript">
 $("#document").ready(function () {
   $("#ingredients").select2({
     ajax: {
       type: 'POST',
       url: '/ingredients',
       dataType: 'json',
       delay: 250,
       cache: true,
       data: function(params) {
         return{
           q: params.term
         };
       },
       processResults: function (data) {
         return {
           results: data.results
         };
       }
     },
     placeholder:'추가되는 재료들 (ex. 감자, 양파, 마늘)'
    });
  });


  function add_ingredients(){//재료 리스트 입력
    var ingredient = $("#ingredients").val();
    if(ingredient == ""){
      alert('재료가 입력되지 않았습니다');
    }
    else{
      var ol_list = $("#ol_list");
      ol_list.append("<li>"+ingredient+"<a href=\"#\" id=\"btnDelete\" class=\"btn btn_del\" onclick=\"remove_item(this)\">삭제</a> </li>");//재료 추가
      console.log("added item " + ingredient );
    }
  };

  function remove_item(id){ //재료 객체 삭제 

    console.log("delete "+$(id).parent().text());
    
    $(id).parent().remove(); 
    return false; 
  
  };
  function search_menu(){ //메뉴 추천 요청 ajax 함수 
    var words = $("#search_menu_form").serializeArray();
    //console.log(words);
    if(!words.length || words[0].name != 'ingredients'){
      alert('재료가 입력되지 않았습니다');
      //console.log(words[0].name);
      return false;
    }
     $.ajax({
       type:'POST',
       url: '/search',
       data: words,
       dataType: 'json',
       success: function(result){
         console.log(result);
         $("#result").html(result);
       },
       error: function(e) {
         console.error('error '+e.status);
         $("#result").html("");
        }
     });
  };

</script>
<form id="search_menu_form" onsubmit="return false">
  <div class="form-group col-md-6">
    <label for="ingredients">재료</label>
    <select class="form-control" id="ingredients" multiple="multiple" form="search_menu_form" name="ingredients"></select> 
    <!-- <input type="text" class="form-control" id="ingredients" placeholder="추가되는 재료들 (ex. 감자, 양파, 마늘)"> -->
    <!-- <button type="button" class="btn btn-primary" onclick="add_ingredients()">추가</button> -->
    <ol id="ol_list"> </ol>
  </div>

<div class="form-group col-md-6">
  <label for="tools">조리도구</label>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="pot" >
  <label class="form-check-label" for="inlineCheckbox1">냄비</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="fan">
  <label class="form-check-label" for="inlineCheckbox2">후라이팬</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="microwave" >
  <label class="form-check-label" for="inlineCheckbox3">전자레인지</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="mixer" >
  <label class="form-check-label" for="inlineCheckbox4">믹서기</label>
</div>
</div>

<div class="form-group col-md-6">
  <label for="tools">난이도</label>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio1" value="2">
  <label class="form-check-label" for="inlineRadio1">상</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio2" value="1">
  <label class="form-check-label" for="inlineRadio2">중</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio3" value="0">
  <label class="form-check-label" for="inlineRadio3">하</label>
</div>
</div>
<div class="form-group col-md-6">
 <button type="button" class="btn btn-primary" onclick="search_menu()">이것만</button>
 <button type="button" class="btn btn-primary" onclick="search_menu()">다른것도</button>
</div>
</form>
<div id="result"></div>